
body {
    background: linear-gradient(135deg, #e0f7fa, #e1bee7);
    font-family: 'Segoe UI';
}

.heading-states{
    text-align: center;
    color: #4a148c;
    margin-bottom: 30px;
    font-weight: bold;
    font-family:"Lobster";
}

.card {
    border-radius: 15px;
    background: white;
    transition: all 0.4s ease;
  cursor: pointer;
    }

.card h3 {
    font-size: 1.2rem;
    color: #00695c;
    margin-bottom: 15px;
}

    .co{
        padding:5px;
    }
    .link {

  display: inline-block;
  margin-left: auto;           
    text-decoration: none;
  color:blue;              
  font-weight: 500;
  padding: 6px 8px;
  border-radius: 6px;

    }
    .link1 {
display: inline-block;
   margin-right: auto;           
    text-decoration: none;
  color:white;              
  font-weight: 500;
  padding: 6px 8px;
  background-color:cornflowerblue;
  border-radius: 6px;
      }
    .card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 25px rgba(102, 187, 106, 0.4);
  background: linear-gradient(90deg, #CE93D8, #F8BBD0, #BBDEFB);
}
.header-bar {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px; 
  margin-bottom: 30px;
}