.heading{
    color:#4A2E00;
    text-align:center;
    font-family:"Sans-Serif";
    font-weight:bold;
    padding:15px;
}
.para{
    color:#5A5A5A;
    font-size:20px;
    text-align: center;
}
.image{
    height:500px;
    width:650px;
    margin:10px;
    border-radius: 15px;
}
.button{
    height:45px;
    width:136px;
    margin:15px;
}
.homepage{
    background-image:linear-gradient(135deg, #FFF3D6, #FFB347);
}
